header.header
  .logo
    h1.logo__title Fernando Guevara
    p.logo__subtitle Frontend Developer
  .social-icons-container
    span.socials-text
      button.pulse-button
        i.fa.fa-share
    ul.social-icons
      li
        a(href='https://github.com/FerGuevaraM95/' target="_blank")
          i.fa.fa-github
      li
        a(href='https://www.linkedin.com/in/FerGuevaraM95/' target="_blank")
          i.fa.fa-linkedin
      li
        a(href='https://twitter.com/FerGuevaraM95' target="_blank")
          i.fa.fa-twitter
      li
        a(href='https://www.instagram.com/FerGuevaraM95/' target="_blank")
          i.fa.fa-instagram