header.header
  .logo
    h1.logo__title Fernando Guevara
    p.logo__subtitle Frontend Developer &amp; React Enginer
  .social-icons-container
    span.socials-text
      button.pulse-button
        i.fa.fa-share
    ul.social-icons
      li
        a(href='#')
          i.fa.fa-facebook
      li
        a(href='#')
          i.fa.fa-twitter
      li
        a(href='#')
          i.fa.fa-linkedin
      li
        a(href='#')
          i.fa.fa-whatsapp