nav.menu
  ul.tab
    li.tab__item
      a.tab__ancle.active(href='#profile')
        i.tab__icon.fa.fa-user
        |             PROFILE
    li.tab__item
      a.tab__ancle(href='#resume')
        i.tab__icon.fa.fa-wpexplorer
        |               RESUME
    li.tab__item
      a.tab__ancle(href='#portfolio')
        i.tab__icon.fa.fa-eercast
        |               PORTFOLIO
    li.tab__item
      a.tab__ancle(href='#contact')
        i.tab__icon.fa.fa-telegram
        |               CONTACT