nav.menu
  ul.tabs
    li.tmenu
      a.tab-profile.active(href='#profile')
        i
          i.fa.fa-user
        |             PROFILE
    li.tmenu
      a.tab-profile(href='#resume')
        i
          i.fa.fa-wpexplorer
        |               RESUME
    li.tmenu
      a.tab-profile(href='#portfolio')
        i
          i.fa.fa-eercast
        |               PORTFOLIO
    li.tmenu
      a.tab-profile(href='#contact')
        i
          i.fa.fa-telegram
        |               CONTACT