nav.menu
  ul.tab
    li.tab__item
      a.tab__ancle.active(href='#profile')
        i.tab__icon.fas.fa-user
        |             PROFILE
    li.tab__item
      a.tab__ancle(href='#resume')
        i.tab__icon.fab.fa-wpexplorer
        |               RESUME
    li.tab__item
      a.tab__ancle(href='#portfolio')
        i.tab__icon.fas.fa-puzzle-piece
        |               PORTFOLIO
    li.tab__item
      a.tab__ancle(href='#contact')
        i.tab__icon.fab.fa-telegram
        |               CONTACT