section#portfolio.portfolio
  ul#portfolio-filter.portfolio-filter
    li.portfolio-filter__item
      a.portfolio-filter__link.current.transition(href='#' data-filter='*').metal All
    li.portfolio-filter__item
      a.portfolio-filter__link.transition(href='#' data-filter='.css') Css
    li.portfolio-filter__item
      a.portfolio-filter__link.transition(href='#' data-filter='.js') Vanilla JS
    li.portfolio-filter__item
      a.portfolio-filter__link.transition(href='#' data-filter='.react') React
    li.portfolio-filter__item
      a.portfolio-filter__link.transition(href='#' data-filter='.react-native') React Native
    li.portfolio-filter__item
      a.portfolio-filter__link.transition(href='#' data-filter='.bootstrap') Bootstrap
    li.portfolio-filter__item
      a.portfolio-filter__link.transition(href='#' data-filter='.tailwind') Tailwind Css
    li.portfolio-filter__item
      a.portfolio-filter__link.transition(href='#' data-filter='.jquery') JQuery  

  //- p.extra-text Some of the projects i am proud with
  p.extra-text In construction...  
    a(href="https://github.com/FerGuevaraM95/") While take a look at my Github

  //- ul#portfolio-list.portfolio-list
  //-   li.portfolio-list__item.ilustration.react-native
  //-     a.portfolio-list__link(href='#')
  //-       img.portfolio-list__image(src='../img/work3.jpg' alt='')
  //-     p.portfolio-list__title Hello Goodbye
  //-     span.portfolio-list__categorie.categorie React Native / React
  //-   li.portfolio-list__item.css
  //-     a.portfolio-list__link(href='#')
  //-       img.portfolio-list__image(src='../img/3-thumb.jpg' alt='')
  //-     p.portfolio-list__title Snow Time
  //-     span.portfolio-list__categorie.categorie Css
  //-   li.portfolio-list__item.js
  //-     a.portfolio-list__link(href='#')
  //-       img.portfolio-list__image(src='../img/2-thumb.jpg' alt='')
  //-     p.portfolio-list__title Help us
  //-     span.portfolio-list__categorie.categorie Vanilla JS
  //-   li.portfolio-list__item.bootstrap.react-native
  //-     a.portfolio-list__link(href='#')
  //-       img.portfolio-list__image(src='../img/4-thumb.jpg' alt='')
  //-     p.portfolio-list__title Sunshine
  //-     span.portfolio-list__categorie.categorie React Native / Bootstrap
  //-   li.portfolio-list__item.tailwind.jquery
  //-     a.portfolio-list__link(href='#')
  //-       img.portfolio-list__image(src='../img/5-thumb.jpg' alt='')
  //-     p.portfolio-list__title Come together
  //-     span.portfolio-list__categorie.categorie Tailwind Css / JQuery
  //-   li.portfolio-list__item.css.react-native
  //-     a.portfolio-list__link(href='#')
  //-       img.portfolio-list__image(src='../img/6-thumb.jpg' alt='')
  //-     p.portfolio-list__title The yellow
  //-     span.portfolio-list__categorie.categorie Css / React Native
  //-   li.portfolio-list__item.js
  //-     a.portfolio-list__link(href='#')
  //-       img.portfolio-list__image(src='../img/7-thumb.jpg' alt='')
  //-     p.portfolio-list__title Black Bird
  //-     span.portfolio-list__categorie.categorie Vanilla JS
  //-   li.portfolio-list__item.react
  //-     a.portfolio-list__link(href='#')
  //-       img.portfolio-list__image(src='../img/8-thumb.jpg' alt='')
  //-     p.portfolio-list__title Revolution
  //-     span.portfolio-list__categorie.categorie React