section#portfolio.portfolio
  ul#portfolio-filter.portfolio-filter
    li.portfolio-filter__item
      a.portfolio-filter__link.current.transition(href='#' data-filter='*').metal All
    li.portfolio-filter__item
      a.portfolio-filter__link.transition(href='#' data-filter='next') Next js
    li.portfolio-filter__item
      a.portfolio-filter__link.transition(href='#' data-filter='react') React
    li.portfolio-filter__item
      a.portfolio-filter__link.transition(href='#' data-filter='react-native') React Native
    li.portfolio-filter__item
      a.portfolio-filter__link.transition(href='#' data-filter='js') Vanilla JS
    li.portfolio-filter__item
      a.portfolio-filter__link.transition(href='#' data-filter='css') Css
    li.portfolio-filter__item
      a.portfolio-filter__link.transition(href='#' data-filter='tailwind') Tailwind Css
    li.portfolio-filter__item
      a.portfolio-filter__link.transition(href='#' data-filter='bootstrap') Bootstrap
    li.portfolio-filter__item
      a.portfolio-filter__link.transition(href='#' data-filter='jquery') JQuery  

  p.extra-text Some of the projects i am proud with
  //- p.extra-text In construction...  
  //-   a(href="https://github.com/FerGuevaraM95/") While take a look at my Github

  ul#portfolio-list.portfolio-list
    li.portfolio-list__item.react.next
          a.portfolio-list__link(href='https://app.skydropx.com/users/sign_up' target='_blank')
            img.portfolio-list__image(src='../img/skydropx-app.jpg' alt='skydropx app')
          p.portfolio-list__title Skydropx App 
          span.portfolio-list__categorie.categorie Next js / React
    li.portfolio-list__item.react.next
        a.portfolio-list__link(href='https://docs.skydropx.com/' target='_blank')
          img.portfolio-list__image(src='../img/skydropx-docs.jpg' alt='skydropx docs')
        p.portfolio-list__title Skydropx docs 
        span.portfolio-list__categorie.categorie Next js / React
    li.portfolio-list__item.react
        a.portfolio-list__link(href='https://ui.skydropx.com/' target='_blank')
          img.portfolio-list__image(src='../img/skydropx-design-system.jpg' alt='skydropx ui')
        p.portfolio-list__title Skydropx design System 
        span.portfolio-list__categorie.categorie React
    li.portfolio-list__item.react
        a.portfolio-list__link(href='https://clientes.alertandote.com/' target='_blank')
          img.portfolio-list__image(src='../img/alertandote-panel.jpg' alt='panel alertándote')
        p.portfolio-list__title Panel Alertándote 
        span.portfolio-list__categorie.categorie React
    li.portfolio-list__item.js.css
      a.portfolio-list__link(href='https://www.alertandote.com/' target='_blank')
        img.portfolio-list__image(src='../img/alertandote.jpg' alt='alertándote')
      p.portfolio-list__title Alertándote Landing
      span.portfolio-list__categorie.categorie Vanilla JS / Css
    li.portfolio-list__item.react.react-native
      a.portfolio-list__link(href='https://play.google.com/store/apps/details?id=com.alertandote.alerta' target='_blank')
        img.portfolio-list__image(src='../img/alertandote-app.jpg' alt='alertándote app')
      p.portfolio-list__title Alertándote Mobile App
      span.portfolio-list__categorie.categorie React / React Native
    li.portfolio-list__item.jquery.bootstrap
      a.portfolio-list__link(href='https://www.alertandote.com/v2/' target='_blank')
        img.portfolio-list__image(src='../img/alertandote-v2.jpg' alt='alertándote v2')
      p.portfolio-list__title Alertándote old version
      span.portfolio-list__categorie.categorie JQuery / Bootstrap
    li.portfolio-list__item.js
      a.portfolio-list__link(href='https://ferguevaram95.github.io/landing-driver-car' target='_blank')
        img.portfolio-list__image(src='../img/driver-car.jpg' alt='driver car')
      p.portfolio-list__title Driver Landing
      span.portfolio-list__categorie.categorie Vanilla JS
    li.portfolio-list__item.js.css
      a.portfolio-list__link(href='https://ferguevaram95.github.io/pokedex/' target='_blank')
        img.portfolio-list__image(src='../img/pokedex.jpg' alt='pokédex')
      p.portfolio-list__title Pokédex
      span.portfolio-list__categorie.categorie Vanilla JS / Css
    li.portfolio-list__item.react
      a.portfolio-list__link(href='https://ferguevaram95.github.io/AppTasks/' target='_blank')
        img.portfolio-list__image(src='../img/todo-list.jpg' alt='todo list')
      p.portfolio-list__title App Tasks
      span.portfolio-list__categorie.categorie React
    li.portfolio-list__item.tailwind
      a.portfolio-list__link(href='https://ferguevaram95.github.io/airbnb-tailwindcss/' target='_blank')
        img.portfolio-list__image(src='../img/airbnb.jpg' alt='airbnb clone')
      p.portfolio-list__title Airbnb clone
      span.portfolio-list__categorie.categorie Tailwind
    li.portfolio-list__item.js.css
        a.portfolio-list__link(href='https://ferguevaram95.github.io/shopping-cart/'  target='_blank')
          img.portfolio-list__image(src='../img/shopping-car.jpg' alt='shopping car')
        p.portfolio-list__title Shopping car
        span.portfolio-list__categorie.categorie Vanilla JS / Css
    li.portfolio-list__item.bootstrap
        a.portfolio-list__link(href='https://ferguevaram95.github.io/bootstrap-web/' target='_blank')
          img.portfolio-list__image(src='../img/book-web.jpg' alt='book web')
        p.portfolio-list__title Book landing
        span.portfolio-list__categorie.categorie Bootstrap
    li.portfolio-list__item.css
        a.portfolio-list__link(href='https://ferguevaram95.github.io/LandingPage/' target='_blank')
          img.portfolio-list__image(src='../img/code-landing.jpg' alt='shopping car')
        p.portfolio-list__title Code landing
        span.portfolio-list__categorie.categorie Css
    li.portfolio-list__item.css
        a.portfolio-list__link(href='https://ferguevaram95.github.io/real-estate/' target='_blank')
          img.portfolio-list__image(src='../img/real-estate.jpg' alt='real estate')
        p.portfolio-list__title Real Estate Landing
        span.portfolio-list__categorie.categorie Css
    li.portfolio-list__item.css
        a.portfolio-list__link(href='https://ferguevaram95.github.io/freelancer/' target='_blank')
          img.portfolio-list__image(src='../img/landing.jpg' alt='landing page')
        p.portfolio-list__title Freelancer Web
        span.portfolio-list__categorie.categorie Css