section#portfolio
  ul#portfolio-filter.cats-filter
    li
      a.current.trnasition(href='#' data-filter='*') All
    li
      a.trnasition(href='#' data-filter='.webdesign') Web Design
    li
      a.trnasition(href='#' data-filter='.photography') Photography
    li
      a.trnasition(href='#' data-filter='.illustration') Illustration
    li
      a.trnasition(href='#' data-filter='.print') Print
    li
      a.trnasition(href='#' data-filter='.animation') Animation
  .extra-text Some of the projects i am proud with
  ul#portfolio-list
    li.ilustration.print
      a.folio(href='#')
      img(src='../img/work3.jpg' alt='')
      p Hello Goodbye
      span.categorie Print / Illustration
    li.webdesign
      a.folio(href='#')
      img(src='../img/3-thumb.jpg' alt='')
      p Snow Time
      span.categorie Web Design
    li.photography
      a.folio(href='#')
      img(src='../img/2-thumb.jpg' alt='')
      p Help us
      span.categorie Photography
    li.animation.print
      a.folio(href='#')
      img(src='../img/4-thumb.jpg' alt='')
      p Sunshine
      span.categorie Print / Animation
    li.animation.print
      a.folio(href='#')
      img(src='../img/5-thumb.jpg' alt='')
      p Come together
      span.categorie Animation
    li.webdesign.print
      a.folio(href='#')
      img(src='../img/6-thumb.jpg' alt='')
      p The yellow
      span.categorie Web Design / Print
    li.photography
      a.folio(href='#')
      img(src='../img/7-thumb.jpg' alt='')
      p Black Bird
      span.categorie Pothography
    li.illustration
      a.folio(href='#')
      img(src='../img/8-thumb.jpg' alt='')
      p Revolution
      span.categorie Illustration