#profile.profile
  .photo-inner
    img(src='../img/photo.jpg' alt='')

  .about
    h1.about__title Fernando Guevara
    p.about__subtitle Frontend Developer
    p.about__text
      | Passionate developer of the Frontend and the technologies that revolutionize our daily environment. Proactive enthusiast, with inexhaustible desire to gain more knowledge day by day, and not give up on the road.
    //- p.about__text
    //-   | Lover of the challenges with a culture focused on teamwork, with excellent integration to them with leadership skills and adaptability to various work environments. With interests beyond code and programming.

  ul.personal-info
    li.personal-info__item
      label.personal-info__label(for='') Name
      span.personal-info__text Fernando Guevara
    li.personal-info__item
      label.personal-info__label(for='') Birthday
      span.personal-info__text July 1, 1995
    li.personal-info__item
      label.personal-info__label(for='') Adress
      span.personal-info__text Mexico City
    li.personal-info__item
      label.personal-info__label(for='') Email
      span.personal-info__text luisfernandoguevara95@gmail.com
    li.personal-info__item
      label.personal-info__label(for='') Phone
      span.personal-info__text (+52) 5612820700
    li.personal-info__item
      label.personal-info__label(for='') Website
      span.personal-info__text ferguevaram95.github.io