section.resume#profile
  //- .timeline-section
  //- .resume__wrapper
    //- carttitle-wrapper start
  .carttitle-wrapper
  
    .container

      .name-section
        h1.name-section__title Fernando
          span Guevara
        h2.name-section__profesion Frontend Developer
        p.name-section__text
          | Lover of the challenges with a culture focused on teamwork, with excellent integration to them with leadership skills and adaptability to various work environments.
          | With more interest there is the code and programming.

      .address-section
        ul
          li.address-section__item
            span.text-color Phone no:
            | (+52) 56 1282 0700
          li.address-section__item
            span.text-color Address:
            | G.A.M Mexico City
          li.address-section__item
            span.text-color Email:
            | luisfernandoguevara95@gmail.com
            

      section.experience-section
        h1.experience-section__title Experience
        article.ex-box
          h1.ex-box__date 2018 - Present
          h2.ex-box__company Alertándote
          p.ex-box__text
            | Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print
        article.ex-box
          h1.ex-box__date 2018 - 2018
          h2.ex-box__company KarmaPulse
          p.ex-box__text
            | Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print
      

      //- .top-skills
      //-   .skill-name
      //-     .sn PS
      //-     ul
      //-       li
      //-       li
      //-       li
      //-       li
      //-       li
      //-   .skill-name
      //-     .sn AI
      //-     ul
      //-       li
      //-       li
      //-       li
      //-       li
      //-       li
      //-   .skill-name
      //-     .sn F
      //-     ul
      //-       li
      //-       li
      //-       li
      //-       li
      //-       li
      //-   .skill-name
      //-     .sn S
      //-     ul
      //-       li
      //-       li
      //-       li
      //-       li
      //-       li
      //- .right-skills
      //-   .row.no-margin
      //-     .col-md-12.heading-skills.no-padding
      //-       h3 MY skills
      //-   .row.no-margin
      //-     .col-md-5.no-padding
      //-       h4 Photoshop
      //-     .col-md-7.no-padding
      //-       .progress
      //-         .progress-bar.bg-warning.progress-bar-striped(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
      //-   .row.no-margin
      //-     .col-md-5.no-padding
      //-       h4 Ms office
      //-     .col-md-7.no-padding
      //-       .progress
      //-         .progress-bar.bg-warning.progress-bar-striped(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
      //-   .row.no-margin
      //-     .col-md-5.no-padding
      //-       h4 Illustrator
      //-     .col-md-7.no-padding
      //-       .progress
      //-         .progress-bar.bg-warning.progress-bar-striped(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
      //-   .row.no-margin
      //-     .col-md-5.no-padding
      //-       h4 html
      //-     .col-md-7.no-padding
      //-       .progress
      //-         .progress-bar.bg-warning.progress-bar-striped(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
      //-   .row.no-margin.mt-25
      //-     .col-md-5.no-padding
      //-       h4 Photoshop
      //-     .col-md-7.no-padding
      //-       .progress
      //-         .progress-bar.bg-warning.progress-bar-striped(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
      //-   .row.no-margin
      //-     .col-md-5.no-padding
      //-       h4 Ms office
      //-     .col-md-7.no-padding
      //-       .progress
      //-         .progress-bar.bg-warning.progress-bar-striped(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
      //-   .row.no-margin
      //-     .col-md-5.no-padding
      //-       h4 Illustrator
      //-     .col-md-7.no-padding
      //-       .progress
      //-         .progress-bar.bg-warning.progress-bar-striped(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
      //-   .row.no-margin
      //-     .col-md-5.no-padding
      //-       h4 html
      //-     .col-md-7.no-padding
      //-       .progress
      //-         .progress-bar.bg-warning.progress-bar-striped(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
      //-   .row.no-margin.mt-25
      //-     .col-md-12.heading-skills.no-padding
      //-       h3 INTERSESTS
      //-     .col-md-4.intetst-box
      //-       .intetst-icons
      //-         i.fa.fa-plane(aria-hidden='true')
      //-         br
      //-         br
      //-         h5 TRAVEL
      //-     .col-md-4.intetst-box
      //-       .intetst-icons
      //-         i.fa.fa-headphones(aria-hidden='true')
      //-         br
      //-         br
      //-         h5 MUSIC
      //-     .col-md-4.intetst-box
      //-       .intetst-icons
      //-         i.fa.fa-file-video-o(aria-hidden='true')
      //-         br
      //-         br
      //-         h5 video
      //-     .col-md-4.intetst-box
      //-       .intetst-icons
      //-         i.fa.fa-bicycle(aria-hidden='true')
      //-         br
      //-         br
      //-         h5 CYCLING
      //-     .col-md-4.intetst-box
      //-       .intetst-icons
      //-         i.fa.fa-cutlery(aria-hidden='true')
      //-         br
      //-         br
      //-         h5 COOCKING
      //-     .col-md-4.intetst-box
      //-       .intetst-icons
      //-         i.fa.fa-pied-piper-alt(aria-hidden='true')
      //-         br
      //-         br
      //-         h5 SPORTS
      //- .eduction-right
      //-   .row.no-margin
      //-     .col-md-12.heading-skills.no-padding
      //-       h3 EDUCATION
      //-       .ex-box
      //-         h2 2010-2012
      //-         h4 PROJECT MANAGER
      //-         p
      //-           | Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print
      //-     .col-md-12.heading-skills.no-padding
      //-       .ex-box
      //-         h2 2010-2012
      //-         h4 PROJECT MANAGER
      //-         p
      //-           | Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print
      //- .address-qr-right
      //-   .row.no-margin
      //-     .col-md-5.no-padding
      //-       .qr-box
      //-         img(src='../img/qr.png')
      //-     .col-md-7.no-padding
      //-       .address-right-box
      //-         ul
      //-           li
      //-             i.fa.fa-phone-square(aria-hidden='true')
      //-             p 45534546565
      //-           li
      //-             i.fa.fa-envelope-o(aria-hidden='true')
      //-             p Info@gmail.com
      //-           li
      //-             i.fa.fa-map-marker(aria-hidden='true')
      //-             p Dermis India J-219, Saket New Delhi -110017.