section.resume#profile
  //- .timeline-section
  //- .resume__wrapper
    //- carttitle-wrapper start
  .carttitle-wrapper
  
    .container

      .name-section
        h1.name-section__title Fernando
          span Guevara
        h2.name-section__profesion Frontend Developer
        p.name-section__text
          | Lover of the challenges with a culture focused on teamwork, with excellent integration to them with leadership skills and adaptability to various work environments.
          | With more interest there is the code and programming.

      .address-section
        ul
          li.address-section__item
            span.text-color Phone no:
            | (+52) 56 1282 0700
          li.address-section__item
            span.text-color Address:
            | G.A.M Mexico City
          li.address-section__item
            span.text-color Email:
            | luisfernandoguevara95@gmail.com
            

      section.experience-section
        h1.experience-section__title Experience
        article.ex-box
          h1.ex-box__date 2018 - Present
          h2.ex-box__company Alertándote
          p.ex-box__text
            | Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print
        article.ex-box
          h1.ex-box__date 2018 - 2018
          h2.ex-box__company KarmaPulse
          p.ex-box__text
            | Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print
      

      section.top-skills
        .skill-name
          i.sn.fab.fa-html5.skill-name__icon
          ul
            li
            li
            li
            li
        .skill-name
          i.fab.fa-css3-alt.skill-name__icon
          ul
            li
            li
            li
            li
        .skill-name
          i.fab.fa-js.skill-name__icon
          ul
            li
            li
            li
            li
        .skill-name
          i.fab.fa-react.skill-name__icon
          ul
            li
            li
            li
            li


      section.skills

        .heading-skills
          h1.heading-skills__title MY skills

        .skills__group
          h2.skills__title HTML5

          div.skill
            h4.skill__title Semantic
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star

          div.skill
            h3.skill__title Technical SEO
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h3.skill__title Accessibility
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star

        .skills__group
          h3.skills__title CSS3

          div.skill
            h4.skill__title Web Design
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h3.skill__title Bootstrap 4
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h3.skill__title Tailwind Css
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h3.skill__title Animations
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h3.skill__title SASS
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star       

          div.skill
            h3.skill__title BEM (Methodology)
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star      

        .skills__group
          h3.skills__title Javascript

          div.skill
            h4.skill__title Languaje
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h3.skill__title ES6 (ECMASCRIPT 2015)
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h3.skill__title Web API
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h3.skill__title JQuery
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star      

          div.skill
            h3.skill__title Redux
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h3.skill__title Node
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star  

          div.skill
            h3.skill__title Express
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star 

          div.skill
            h3.skill__title Jest
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star 

          div.skill
            h3.skill__title GraphQL
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h3.skill__title Webpack
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star                                      

        .skills__group
          h3.skills__title React

          div.skill
            h4.skill__title Library management
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h3.skill__title React Native
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h3.skill__title Hooks
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h3.skill__title React Navigation
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star      

        .skills__group
          h3.skills__title Version control system

          div.skill
            h4.skill__title Git
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star                           

        .skills__group
          h3.skills__title Data Base

          div.skill
            h4.skill__title MongoDB
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star

        .skills__group
          h3.skills__title Template Motors

          div.skill
            h4.skill__title Pug
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h4.skill__title EJS
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star                                 

        .skills__group
          h3.skills__title Development platform

          div.skill
            h4.skill__title GitHub
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h4.skill__title Bitbucket
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star     
              
        .skills__group
          h3.skills__title Soft Skills

          div.skill
            h4.skill__title Comunication
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h4.skill__title Teamwork
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star 

          div.skill
            h4.skill__title Analysis
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h4.skill__title Creativity
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h4.skill__title Integration
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h4.skill__title Leadership
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star

          div.skill
            h4.skill__title Decision making
            ul
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.fas.fa-star
              li.skill__star 
                i.far.fa-star
              li.skill__star 
                i.far.fa-star                                             
                  

      section.interests
        h1.interests__title INTERESTS

        .interests__content
          .interest-box
            i.fas.fa-utensils(aria-hidden='true').interest-box__icon
            p.interest-box__title Food

          .interest-box
            i.fa.fa-headphones(aria-hidden='true').interest-box__icon
            p.interest-box__title Music

          .interest-box
            i.fas.fa-guitar(aria-hidden='true').interest-box__icon
            p.interest-box__title Play Guitar

        .interests__content
          .interest-box
            i.fas.fa-swimmer(aria-hidden='true').interest-box__icon
            p.interest-box__title Swim

          .interest-box
            i.fas.fa-dog(aria-hidden='true').interest-box__icon
            p.interest-box__title Pets

          .interest-box
            i.fas.fa-image(aria-hidden='true').interest-box__icon
            p.interest-box__title Take a Walk          
      
      //- .eduction-right
      //-   .row.no-margin
      //-     .col-md-12.heading-skills.no-padding
      //-       h3 EDUCATION
      //-       .ex-box
      //-         h2 2010-2012
      //-         h4 PROJECT MANAGER
      //-         p
      //-           | Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print
      //-     .col-md-12.heading-skills.no-padding
      //-       .ex-box
      //-         h2 2010-2012
      //-         h4 PROJECT MANAGER
      //-         p
      //-           | Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print
      //- .address-qr-right
      //-   .row.no-margin
      //-     .col-md-5.no-padding
      //-       .qr-box
      //-         img(src='../img/qr.png')
      //-     .col-md-7.no-padding
      //-       .address-right-box
      //-         ul
      //-           li
      //-             i.fa.fa-phone-square(aria-hidden='true')
      //-             p 45534546565
      //-           li
      //-             i.fa.fa-envelope-o(aria-hidden='true')
      //-             p Info@gmail.com
      //-           li
      //-             i.fa.fa-map-marker(aria-hidden='true')
      //-             p Dermis India J-219, Saket New Delhi -110017.