//====================================
// General
//====================================
body {
  font-family: sans-serif;
  background: url("../../img/bg-body.jpg");
}

p, ul, li, ol {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

h1 h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif !important;
}

.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 520px;
  margin-top: 30px;
}

.content {
  background-color: $White;
}

.bg-color-left {
  background: #f7f7f7;
}

.bg-color-right {
  background: #1c1b1f;
}

.bg-color-1 {
  background: #e4e4e4;
}

.button {
  color: $White;
  background-color: $Salmon;
  padding: 8px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
}

.disabled {
  cursor: not-allowed;
  background-color: #e4e4e4;
}

footer {
  margin: 20px 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  color: $Gray-700;
}

header {
  position: relative;
  overflow: visible;
}

button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

@media (min-width: 860px) {
  .container {
    max-width: 860px;
  }
}
