//====================================
// Header
//====================================
.header {
  position: relative;
  overflow: visible;
  width: 100%;
  height: 70px;
}

.logo {
  float: left;
  overflow: hidden;
  margin-left: 10px;
  display: none;
  z-index: -10;

  &__title {
    z-index: -20;
    margin-bottom: 3px;
    font-size: 1.7rem;
    font-weight: 900;
    color: $Text-Color;
  }

  &__subtitle {
    color: #666;
    line-height: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-left: 7px;
  }
}

.socials-text {
  position: absolute;
  right: 0;
  color: $White;
  padding: 2px 9px;
  font-size: 22px;
  cursor: pointer;
  top: 10px;
  border-radius: 70px;
  z-index: 50;
}

/* i.fa.fa-share {
  color: $White !important;
} */

.social-icons {
  display: block;
  opacity: 0;
  top: 11px;
  position: absolute;
  transition: opacity ease 1s, right ease 1s;
  z-index: 40;
  right: 5px;
  &.main {
    opacity: 1;
    top: 11px;
    right: 55px;
  }
  & li {
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    margin: 3px;
    background-color: #cf455c;
    cursor: pointer;
    & a {
      // margin-right: 2px;
      padding: 8px 5px;
      font-size: 18px;
      display: block;
      color: #FFF;
    }
  }
}

.pulse-button {
  position: relative;
  width: 35px;
  height: 35px;
  line-height: 15px;
  border: none;
  box-shadow: 0 0 0 0 rgb(101, 100, 100);
  background-color: $Salmon !important;
  color: $White !important;
  cursor: pointer;
  font-size: 20px;
}

@media only screen and (min-width: 480px) {
  .logo {
    &__title {
      font-size: 2rem;
    }
  }
}
