//====================================
// Resume
//====================================
.resume {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "left"
    "right";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left {
  grid-area: left;
  background-color: $White;
}

.right {
  grid-area: right;
  background: #000;  
}


// span.socials-text {
//   position: absolute;
//   right: 0px;
//   color: $White;
//   padding: 2px 9px;
//   font-size: 22px;
//   cursor: pointer;
//   top: 10px;
//   border-radius: 66px;

//   /* height: 30px; */
// }

// i.fa.fa-share-alt-square {
//   color: $White !important;
// }

// ul.socialicons {
//   opacity: 0;
//   top: -1px;
//   position: relative;
//   transition: all ease 1s;
//   z-index: -1;
//   left: -7px;

//   &.main {
//     opacity: 1;
//     top: -1px;
//     left: -48px;
//   }
// }

// .pulse-button {
//   position: relative;
//   width: 35px;
//   height: 35px;
//   line-height: 15px;
//   border: none;
//   box-shadow: 0 0 0 0 rgb(101, 100, 100);
//   background-color: $White;
//   cursor: pointer;
//   color: $Salmon;
//   font-size: 20px;
// }

.name-section {
  grid-area: name;
  padding: 40px 27px 21px;
  background-color: #e4e4e4;
  &__title {
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 700;
    color: #383838;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;
    span {
      color: $Salmon;
      float: left;
      width: 100%;
      margin-top: -3px;
    }
  }
  &__profesion {
    display: inline-block;
    padding: 7px 16px;
    margin: 10px 0px 20px;
    border-radius: 20px;
    font-family: 'Oswald', sans-serif;
    color: $White;
    background-color: $Salmon;
  }
  &__text {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 20px;
    color: #383838;
  }
}

.address-section {
  padding: 27px;
  background-color: $Light-Gray;
  &__item {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #383838;
    & span {
      display: inline-block;
      width: 84px;
      text-transform: uppercase;
    }
  }
}




.text-color {
  color: $Salmon;
}




.experience-section {
  padding-bottom: 27px;
  background-color: $White;
  &__title {
    padding: 6px 27px;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
    background: $Salmon;
    color: $White;
  }
}

.ex-box {
  padding: 27px 27px 0px 27px;
  &__date {
    background: $Salmon;
    color: $White;
    font-size: 17px;
    line-height: 17px;
    display: inline-block;
    padding: 5px 21px;
    font-weight: 600 !important;
    border-radius: 50px;
    letter-spacing: 1px;
  }
  &__company {
    font-size: 17px;
    font-weight: 700;
    padding: 10px 0px 5px;
    color: #383838;
  }
  &__text {
    font-size: 13px;
    font-weight: 600;
    color: #545454;
  }
}

.top-skills {
  display: flex;
  justify-content: space-around;
}


.skill-name {
  padding: 30px 0;
  &__icon {
    color: $White;
    font-size: 35px;
    width: 56px;
    height: 50px;
    border: 5px solid $Salmon;
    border-radius: 50%;
    text-align: center;
    padding-top: 8px;
    line-height: 40px !important;
  }
  & ul {
    text-align: center;
    margin: 2px 0;
    & li {
      list-style: none;
      display: inline-block;
      width: 7px;
      height: 7px;
      margin: 2px;
      background: $White;
      border-radius: 50%;
    }
  }
}

.skills {
  padding: 0px 36px 20px;
  &:after {
    bottom: 0px;
  }
  &:before {
    top: 0px;
  }
  &__title {
    color: $White;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    padding-bottom: 3px;
    margin-left: -10px;
  }
  &__group {
    margin-top: 30px;
  }
}

.heading-skills {
  &__title {
    color: $White;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    padding-bottom: 5px;
    margin-left: -10px;
 }
}

.skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  &__title {
  color: $White;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 22px;
  margin-left: -22px;
  }

  &__star {
    display: inline-block;
    color: $Yellow;
    font-size: 12px;
    margin-left: 10px;
  }
}

.interests {
  padding: 0px 36px 20px;
  &__title {
    color: $White;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: -10px;
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.interest-box {
  margin: 15px 8px;
  text-align: center;
  &__title{
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
    color: $White;
    font-family: "Oswald", sans-serif;
  }
  &__icon{
    font-size: 36px;
    color: $White;
    text-align: center;
  }
}

.education {
  padding-bottom: 30px;
  margin-left: 34px;
  &__title {
    color: $White;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    padding-bottom: 5px;
    margin-left: -10px;
  }
}

.education-box {
  padding: 20px 27px 0px 0px;
  &__date {
    background: #CF455C;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 17px;
    display: inline-block;
    padding: 5px 21px;
    font-weight: 600 !important;
    border-radius: 50px;
    letter-spacing: 1px;
  }
  &__title {
    font-size: 17px;
    font-weight: 700;
    padding: 15px 0px 10px;
    color: $White;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__text {
    font-size: 13px;
    font-weight: 600;
    color: $White;
    font-weight: 400;
    line-height: 20px;
  }
}

.address-qr {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 35px 35px 20px 35px;
}

.qr-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  &__image {
    background: $Salmon;
    width: 130px;
    min-width: 100px;
  }
  &__link {
    margin-top: 15px;
    color: $White;
    text-decoration: none;
    cursor: pointer;
  }
}

.address-box {
  padding:20px 30px 20px 0;
  &__item {
    list-style: none;
    display: flex;
    list-style: none;
    display: flex;
    color: #908e8e;
    margin-bottom: 21px;
    font-size: 13px;
    font-weight: 600;
  }
  &__text {
    line-height: 18px;
  }
  & i.fa {
    margin-right: 15px;
    color: $Salmon;
    font-size: 20px;
  }
}


@media only screen and (min-width: 480px) {
  .address-box {
    padding-left: 20px;
  }
  .address-qr {
    flex-direction: row;
  }

  .skill {
    &__title {
    font-size: 14px;
    }
    &__star {
      font-size: 18px;
    }
  }
}

@media only screen and (min-width: 860px) {
  .resume {
    grid-template-columns: 45% 55%;
    grid-template-rows: auto;
    grid-template-areas:
      "left right"
  }
  .qr-box__image {
    margin-left: 15px;
  }
}
