//====================================
// Colors
//====================================
$White: #FFFFFF;
$Salmon: #CF455C;
$Light-Gray: #EDEDED;
$Accent-Gray: #B9B9B9;
$Text-Color: #555555;
$Title-Color: #3A3A3A;
$Background-Color: #FBFBFB;
$Border-Color: #E5E5E5;
$Gray-300: #333333;
$Gray-900: #999999;
$Gray-700: #777777;
$Input-Color: #FDFDFD;
$Border-Input: #CED4DA;
$Green: green;
$Blue: blue;
$Yellow: #EDDE45;