doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title CV Fernando Guevara
  //- FONTS
  link(href='https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap' rel='stylesheet')
  //- ICONS
  //- link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  //- BOOTSTRAP
  //- link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')

section.container
  //- Header
  include layout/header

  //- include layout/color-box

  section.content
    //- MENU
    include layout/menu

    //- PROFILE
    include partials/profile

    //- RESUME
    include partials/resume

    //- PORTFOLIO
    include partials/portfolio

    //- CONTACT
    //- include partials/contact

  //- FOOTER  
  include layout/footer 
  
//- FONTAWESOME
script(src="https://kit.fontawesome.com/c092befb84.js" crossorigin="anonymous")
