doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Portfolio
  //- RESET CSS
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
  //- FONTS
  link(href='https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap' rel='stylesheet')
  //- ICONS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  //- BOOTSTRAP
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')

section#container
  header
    #logo
      h1 Fernando Guevara
      p Frontend Developer &amp; React Enginer
    .social-icons-container
      span.socials-text
        button.pulse-button
          i.fa.fa-share
      ul.socialicons
        li
          a(href='#')
            i.fa.fa-facebook
        li
          a(href='#')
            i.fa.fa-twitter
        li
          a(href='#')
            i.fa.fa-linkedin
        li
          a(href='#')
            i.fa.fa-whatsapp
  section#content
    #profile
      .about
        .photo-inner
          ul
            li
              img(src='../img/photo.jpg' alt='')
            //- <li><img src="../img/photo1.png" alt=""></li>
        h1 Fernando Guevara
        p Frontend Developer &amp; React Enginer
        br
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ad eveniet quibusdam, quae dignissimos reprehenderit maxime? Ipsa dolorem fugit molestias libero harum!
      ul.personal-info
        li
          label(for='') Name
          span Fernando Guevara
        li
          label(for='') Birthday
          span July 1, 1995
        li
          label(for='') Adress
          span Mexico City
        li
          label(for='') Email
          span luisfernandoguevara95@gmail.com
        li
          label(for='') Phone
          span (+52) 5612820700
        li
          label(for='') Website
          span ferguevaram95.github.io
    nav.menu
      ul.tabs
        li.tmenu
          a.tab-profile.active(href='#profile')
            i
              i.fa.fa-user
            |             PROFILE
        li.tmenu
          a.tab-profile(href='#resume')
            i
              i.fa.fa-wpexplorer
            |               RESUME
        li.tmenu
          a.tab-profile(href='#portfolio')
            i
              i.fa.fa-eercast
            |               PORTFOLIO
        li.tmenu
          a.tab-profile(href='#contact')
            i
              i.fa.fa-telegram
            |               CONTACT
    section#resume
      .timeline-section
        .main-wrapper-resume
          //- carttitle-wrapper start
          .carttitle-wrapper
            .color-box
              button#red-color.btn-style
              button#yellow-color.btn-style
              button#blue-color.btn-style
              button#green-color.btn-style
              button.setting-icon
                i.fa.fa-cog.fa-spin(aria-hidden='true')
            .container.no-padding
              .row.no-margin
                .col-md-6.no-padding.bg-color-left
                  .left-name.bg-color-1
                    h2
                      | Fernando
                      span.text-color Guevara
                    h5 Frontend Developer
                    p
                      | Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or
                      | web designs. The passage is attributed
                  .left-address
                    ul
                      li
                        span.text-color Phone no
                        | 97836277882
                      li
                        span.text-color address
                        | Dermis India J-219, Saket New Delhi -110017.
                      li
                        span.text-color EMAIL US
                        | info@dermisindia.com
                  .ex-heading.loader
                    h2 EXEPIRIENCE
                  .ex-box
                    h2 2010-2012
                    h4 PROJECT MANAGER
                    p
                      | Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print
                  .ex-box
                    h2 2010-2012
                    h4 PROJECT MANAGER
                    p
                      | Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print
                  .ex-box
                    h2 2010-2012
                    h4 PROJECT MANAGER
                    p
                      | Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print
                  .ex-box
                    h2 2010-2012
                    h4 PROJECT MANAGER
                    p
                      | Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print
                .col-md-6.no-padding.bg-color-right
                  .top-skills
                    .skill-name
                      .sn PS
                      ul
                        li
                        li
                        li
                        li
                        li
                    .skill-name
                      .sn AI
                      ul
                        li
                        li
                        li
                        li
                        li
                    .skill-name
                      .sn F
                      ul
                        li
                        li
                        li
                        li
                        li
                    .skill-name
                      .sn S
                      ul
                        li
                        li
                        li
                        li
                        li
                  .right-skills
                    .row.no-margin
                      .col-md-12.heading-skills.no-padding
                        h3 MY skills
                    .row.no-margin
                      .col-md-5.no-padding
                        h4 Photoshop
                      .col-md-7.no-padding
                        .progress
                          .progress-bar.bg-warning.progress-bar-striped(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
                    .row.no-margin
                      .col-md-5.no-padding
                        h4 Ms office
                      .col-md-7.no-padding
                        .progress
                          .progress-bar.bg-warning.progress-bar-striped(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
                    .row.no-margin
                      .col-md-5.no-padding
                        h4 Illustrator
                      .col-md-7.no-padding
                        .progress
                          .progress-bar.bg-warning.progress-bar-striped(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
                    .row.no-margin
                      .col-md-5.no-padding
                        h4 html
                      .col-md-7.no-padding
                        .progress
                          .progress-bar.bg-warning.progress-bar-striped(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
                    .row.no-margin.mt-25
                      .col-md-5.no-padding
                        h4 Photoshop
                      .col-md-7.no-padding
                        .progress
                          .progress-bar.bg-warning.progress-bar-striped(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
                    .row.no-margin
                      .col-md-5.no-padding
                        h4 Ms office
                      .col-md-7.no-padding
                        .progress
                          .progress-bar.bg-warning.progress-bar-striped(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
                    .row.no-margin
                      .col-md-5.no-padding
                        h4 Illustrator
                      .col-md-7.no-padding
                        .progress
                          .progress-bar.bg-warning.progress-bar-striped(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
                    .row.no-margin
                      .col-md-5.no-padding
                        h4 html
                      .col-md-7.no-padding
                        .progress
                          .progress-bar.bg-warning.progress-bar-striped(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
                    .row.no-margin.mt-25
                      .col-md-12.heading-skills.no-padding
                        h3 INTERSESTS
                      .col-md-4.intetst-box
                        .intetst-icons
                          i.fa.fa-plane(aria-hidden='true')
                          br
                          br
                          h5 TRAVEL
                      .col-md-4.intetst-box
                        .intetst-icons
                          i.fa.fa-headphones(aria-hidden='true')
                          br
                          br
                          h5 MUSIC
                      .col-md-4.intetst-box
                        .intetst-icons
                          i.fa.fa-file-video-o(aria-hidden='true')
                          br
                          br
                          h5 video
                      .col-md-4.intetst-box
                        .intetst-icons
                          i.fa.fa-bicycle(aria-hidden='true')
                          br
                          br
                          h5 CYCLING
                      .col-md-4.intetst-box
                        .intetst-icons
                          i.fa.fa-cutlery(aria-hidden='true')
                          br
                          br
                          h5 COOCKING
                      .col-md-4.intetst-box
                        .intetst-icons
                          i.fa.fa-pied-piper-alt(aria-hidden='true')
                          br
                          br
                          h5 SPORTS
                  .eduction-right
                    .row.no-margin
                      .col-md-12.heading-skills.no-padding
                        h3 EDUCATION
                        .ex-box
                          h2 2010-2012
                          h4 PROJECT MANAGER
                          p
                            | Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print
                      .col-md-12.heading-skills.no-padding
                        .ex-box
                          h2 2010-2012
                          h4 PROJECT MANAGER
                          p
                            | Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print
                  .address-qr-right
                    .row.no-margin
                      .col-md-5.no-padding
                        .qr-box
                          img(src='../img/qr.png')
                      .col-md-7.no-padding
                        .address-right-box
                          ul
                            li
                              i.fa.fa-phone-square(aria-hidden='true')
                              p 45534546565
                            li
                              i.fa.fa-envelope-o(aria-hidden='true')
                              p Info@gmail.com
                            li
                              i.fa.fa-map-marker(aria-hidden='true')
                              p Dermis India J-219, Saket New Delhi -110017.
    //- Resume
    section#portfolio
      ul#portfolio-filter.cats-filter
        li
          a.current.trnasition(href='#' data-filter='*') All
        li
          a.trnasition(href='#' data-filter='.webdesign') Web Design
        li
          a.trnasition(href='#' data-filter='.photography') Photography
        li
          a.trnasition(href='#' data-filter='.illustration') Illustration
        li
          a.trnasition(href='#' data-filter='.print') Print
        li
          a.trnasition(href='#' data-filter='.animation') Animation
      .extra-text Some of the projects i am proud with
      ul#portfolio-list
        li.ilustration.print
          a.folio(href='#')
          img(src='../img/work3.jpg' alt='')
          p Hello Goodbye
          span.categorie Print / Illustration
        li.webdesign
          a.folio(href='#')
          img(src='../img/3-thumb.jpg' alt='')
          p Snow Time
          span.categorie Web Design
        li.photography
          a.folio(href='#')
          img(src='../img/2-thumb.jpg' alt='')
          p Help us
          span.categorie Photography
        li.animation.print
          a.folio(href='#')
          img(src='../img/4-thumb.jpg' alt='')
          p Sunshine
          span.categorie Print / Animation
        li.animation.print
          a.folio(href='#')
          img(src='../img/5-thumb.jpg' alt='')
          p Come together
          span.categorie Animation
        li.webdesign.print
          a.folio(href='#')
          img(src='../img/6-thumb.jpg' alt='')
          p The yellow
          span.categorie Web Design / Print
        li.photography
          a.folio(href='#')
          img(src='../img/7-thumb.jpg' alt='')
          p Black Bird
          span.categorie Pothography
        li.illustration
          a.folio(href='#')
          img(src='../img/8-thumb.jpg' alt='')
          p Revolution
          span.categorie Illustration
    section#contact
      #map
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120336.90383122452!2d-99.18399778610778!3d19.518922121444437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce00316a29ba95%3A0xf1277698ca624191!2sGustavo%20A.%20Madero%2C%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1579982749725!5m2!1ses-419!2smx' width='300' height='100%' frameborder='0' style='border:0;' allowfullscreen='')
      .contact-info
        h3.main-heading
          span Contact info
        ul
          li  07510 G.A.M Mexico City
          li
            span Email: 
            | luisfernandoguevara95@gmail.com
          li
            span Phone: 
            | (+52) 5612820700
          li
            span Website: 
            |  ferguevaram95.github.io
      .contact-form
        h3.main-heading
          span Let&acute;s keep in touch
        .contact-status
          form.contactform(action='')
            .form-group
              input#name.form-control(type='text')
              label.form-control-placeholder(for='name')
                | Your Name
            .form-group
              input#email.form-control(type='text')
              label.form-control-placeholder(for='email')
                | Your Email
            label(for='message') Your Message
            textarea(name='message' id='' cols='88' rows='7')
            input.button.transition(type='submit' name='submit' value='Send your message')
            br
            br
            br
            br
  footer
    .copyright copyright &copy; 2020 Fernando Guevara
//- JQUERY
script(src='https://code.jquery.com/jquery-3.4.1.js')
//- BOOTSTRAP
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
//- JS
script(src='./js/main.js')
//- EASY TABS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.easytabs/3.2.0/jquery.easytabs.min.js')
//- ISOTOPE
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/1.5.25/jquery.isotope.min.js')
//- CAROULFREDSEL
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.caroufredsel/6.2.1/jquery.carouFredSel.packed.js')